<div class="profile-container">
  {{> navbar activePage="profile" }}

  <!-- Avatar and Name/Bio Section -->
  <div class="user-info-section">
    <div class="user-avatar-wrapper">
      <img class="user-avatar" src="{{photo}}" alt="User" />
    </div>
    <div class="user-text-section">
      <div class="profile-name">
        {{firstName}} {{lastName}} <span class="italic">({{committee}})</span>
      </div>
        <form action="/save-profile" method="post">
        <textarea class="bio-textarea" name="aboutInfo" required>{{aboutInfo}}</textarea>
        <button class="confirm-btn-text confirm-btn-wrapper" type="submit">Save Bio</button>
      </form>
    </div>
  </div>

  <!-- Bottom Content: Confirm Button, Residency & Activities -->
  <div class="info-sections-wrapper">
    <div class="left-column">
      <form action="/save-profile" method="post">
        <button class="confirm-btn-text confirm-btn-wrapper">Save Bio</button>
      </form>
    </div>
</div>
